.card {

    padding: 1rem;
    border-radius: 25px;
    /* border: 1px solid #00A8FF ; */
    background-color: #fff ;
    /* color: #00A8FF; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}
.image{
    object-fit: contain;
    margin-bottom: 2rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}