form{
    align-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    /* color: #14b8a6; */
    /* background-color: #cbd5e1; */
    /* color: #0b8fac; */
}
h1{
    padding:20px 0;
    text-align: center;
    background-color: #fff;
}
.label{
    text-align: left;
    /* padding: 10px 0; */
    /* margin: 8px 8px; */
    width: 90%;
}
img{
    height: 70px;
}
.div1 {
    background-color: #fff;
    width: 350px;
    padding: 20px;
    margin: auto;
    border: 25px solid #fff;
    border-radius: 18px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}
.div_col{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    font-size:larger;
    width: 100%;
}
input{
    padding: 10px 0;
    margin: 8px 8px;
    width: 90%;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #000;
    /* box-sizing: border-box; */
}
input:focus {
    border-bottom: 1px solid #000;
    outline: none; 
    box-shadow: none; 
}
.button_flat{
    border-radius: 5px;
    border: 2px solid #2d2b2b;
    font-size:large;
    list-style: none;
    padding: 8px;
    color: #fff;
    background-color: #2d2b2b;
}
.button_flat:hover{
    border: 2px solid #2d2b2b;
    border-radius: 18px; 
    background-color: #fff;
    color: #2d2b2b;
    font-size: large;
    list-style: none;
    padding: 8px;
    border-radius: 5px;
}
.div_row{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 90%;
}
.error{
    font-size:medium;
    color: #e14545;
    /* color: #e46363; */
}