.cards {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
}
.h1tag{
    padding:20px 0;
    text-align: center;
    /* color: #00A8FF; */
    background-color: #fff;
}
.card {
    margin: 2rem;
    padding: 1rem;
    background-color:aquamarine;
    /* display: flex;
    flex-direction: row;
    justify-content:space-around; */
}