.div-home1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    padding: 150px  100px;
    /* width: fit-content; */
    /* margin-left: 10%; */
}
.slider{
    height: 45%;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: aqua;
}
.slide-track{
    display: flex;
    width: calc(450px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-450px*9));
    }
}
.slide{
    height: 400px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide h1{
    width: 100%;
    transition: transform 1s;
}
.slide h1:hover{
    transform: translateZ(20px);
}
.slider::before,
.slider::after{
    background: linear-gradient(to right,rgb(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content:'';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    right: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

